#create-room-button {
  font-size: 30px;
  text-transform: uppercase;
  padding: 0 15px;
}
.btn {
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  margin: 2px;
}
.room-title {
  font-size: 25px;
}
.join-btn {
  font-size: 20px;
  padding: 0 5px;
}
.room-card {
  width: 20%;
  margin: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#rooms-block {
  display: flex;
  flex-direction: row;
}
#game-page {
  display: flex;
  flex-direction: row;
}
#users-block {
  border: 1px solid black;
  margin: 10px;
}
#game-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
  width: 80%;
}
.left {
  width: 30%;
  display: flex;
  flex-direction: column;
}
#room-info {
  margin: 5px;
  border: 2px solid black;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.room-name {
  font-size: x-large;
  margin: 5px;
}
.user-card {
  margin: 10px;
  border: 1px solid black;
}
.username-block {
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.rdy-status {
  width: 15px;
  height: 15px;
  margin-left: auto;
  border-radius: 50%;
}
.ready-button {
  font-size: 40px;
  padding: 5px;
}
.back-button {
  margin: 4px;
  height: 50%;
  border: 1px solid black;
}
.unready {
  background-color: red;
}
.ready {
  background-color: green;
}
.progress-bar {
  height: 20px;
  margin: 4px;

  border: 1px solid black;
}
.progress {
  background-color: green;
  height: 100%;
  width: 0%;
}
.timer-before {
  font-size: 60px;
}
.you {
  border: 2px dashed black;
}
#game-timer {
  position: absolute;
  margin: 5px;
  top: 10px;
  right: 30%;
}
#colored-text,
#selected-text,
#undecorated-text {
  font-size: large;
}
#colored-text {
  background-color: green;
}
#selected-text {
  text-decoration: underline;
  text-decoration-color: green;
}

#commentator {
  text-align: center;
  margin: 8px;
  font-size: 30px;
}

#phrase {
  margin: 8px;
  border: 1px solid black;
  padding: 4px;
  width: 300px;
}
